@font-face {
  font-family: "tyc-num";
  src: url('https://static.tianyancha.com/fonts-styles/fonts/1a/1a71b2cb/tyc-num.eot'); /* IE9*/
  src: url('https://static.tianyancha.com/fonts-styles/fonts/1a/1a71b2cb/tyc-num.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('https://static.tianyancha.com/fonts-styles/fonts/1a/1a71b2cb/tyc-num.woff') format('woff'), /* chrome, firefox */
  url('https://static.tianyancha.com/fonts-styles/fonts/1a/1a71b2cb/tyc-num.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('https://static.tianyancha.com/fonts-styles/fonts/1a/1a71b2cb/tyc-num.svg#tic') format('svg'); /* iOS 4.1- */
}

.font-1a71b2cb .tyc-num {
  font-family: "tyc-num" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}