
@{
    Layout = null;
}
 
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>欢迎使用</title>
    <link href="~/Content/css/framework-font.css" rel="stylesheet" />
    <link href="http://ddy.lianwugjyb.com/Content/css/framework-login.css" rel="stylesheet" />


    <script src="http://ddy.lianwugjyb.com/Content/lib/jquery/dist/jquery.js"></script>


    <script src="http://ddy.lianwugjyb.com/Content/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="http://ddy.lianwugjyb.com/Content/lib/cookie/jquery.cookie.js"></script>
    <script src="http://ddy.lianwugjyb.com/Content/lib/dialog/dialog.js"></script>

     
    <script src="~/Content/Admin/Biz/login.js"></script> 
    <script src="~/Content/Admin/js/framework-ui.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <form class="form" id="submitForm">
                <div class="row">
                    <input id="txt_account" name="LogName" type="text" placeholder="用户名">
                    <i class="fa fa-user"></i>
                </div>
                <div class="row">
                    <input id="txt_password" name="Pwd" type="password" placeholder="登录密码">
                    <i class="fa fa-key"></i>
                </div>
                @*<div class="row">
                    <input id="txt_code" maxlength="4" name="Captcha" type="text" placeholder="验证码" style="width: 190px; float: left;">
                    <div style="width: 110px; float: right; padding-top: 14px; padding-left: 14px;">
                        看不清？<a id="switchCode" href="javascript:void();" style="text-decoration: none;">换一张</a>
                        <img id="imgcode" class="authcode" src="~/Login/GetAuthCode" width="80" height="25" />
                    </div>
                </div>*@
                <div class="row">
                    <button id="login_button" type="button"><span>登录</span></button>
                </div>
                <div class="row">
                </div>
            </form>
            <div class="login_tips"></div>
        </div>
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="copyright">
        <a href="javascript:;" style="text-decoration:none;color:#fff;">1.0</a>
        <br>
    </div>
</body>
</html>
