@{
    Layout = null;
}
@model SHAN.Service.酒店用户DTO
<!DOCTYPE html>
<html style="font-size:87.5%">
<head>
    <meta charset="utf-8">
    <title>酒店详情</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="/Content/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/Content/bootstrap.css" media="all" />
    <style>
        .row {
            margin: 0;
        }
    </style>
</head>
<body >

    <div class="container " style="padding:0">
        <div>
            <div style="background-color: white;">
                <div class="row" style="background-color: white;line-height:5rem">
                    <div class="col-12 row" style="padding:0" >
                        <img src="~/Content/images/list.png" class="rounded img-fluid flex-grow-1" alt="" style="height:130px"/>
                    </div>
                </div>
            </div>

            <div class="hulist flex-column ">
                <div class="row justify-content-around pt-3 pb-3 border-bottom">
                    <div class="text-center flex-grow-1">推荐</div>
                    <div class="text-center flex-grow-1 border-left border-right">价格</div>
                    <div class="text-center flex-grow-1">评分</div>
                </div>
                <div class="" id="view" style="margin-top:2px" lay-accordion="" lay-filter="test"></div>
            </div>

        </div>
    </div>
    <script id="demo" type="text/html">
        {{#  layui.each(d.list, function(index, item){ }}
        <div class="row align-items-center pl-2 pr-2 pt-2" onclick="javascript:location.href='Detail?Cid={{ item.Id }}'">
            <div class="d-flex justify-content-center align-items-center"  style="min-height:80px;min-width:80px">
            <img  src="{{ item.Pic2 }}" alt="Alternate Text" style="border-radius: 50%;max-height:60px;max-width:60px;width:60px;height:60px"/></div>
            <div class="flex-column flex-grow-1 border-bottom ml-2 " style="padding-bottom:1rem">
                <div style="font-weight:400;line-height:2rem">{{ item.CompanyName }}</div>
                <div style="font-size:0.875rem;line-height:2rem;color: #bfbfbf;">{{ item.Address }}</div>
                <div class="d-flex flex-row align-items-baseline">
                    <div class="mr-auto"  style="font-size:0.875rem"><span>4.9分</span><span class="pl-1">极赞！</span><small style="color: #bfbfbf;">135条评论</small> </div>
                    <div style="font-size:1.5rem;color:red">￥{{ Math.ceil(item.Pwd) }}<small style="color: #bfbfbf;">起</small></div>
                </div>

            </div>

        </div>
        {{#  }); }}
    </script>
    <script type="text/javascript" src="/Content/layui/layui.js"></script>
    <script>
        var gtjson = "";
        layui.use(['laytpl', 'element', 'layer', 'jquery', 'laydate'], function () {
            var element = layui.element;
            var laytpl = layui.laytpl;
            var laydate = layui.laydate;

            $ = layui.$;

            $.get('/hotel/hotel/GetHotelList', function (json) {
                var getTpl = demo.innerHTML
                    , view = document.getElementById('view');
                console.log(json);

                laytpl(getTpl).render(json, function (html) {
                    view.innerHTML = html;
                    element.init();
                });

            });
            var now = new Date();
            now.setDate(now.getDate() + 1);
            laydate.render({
                elem: '#LAY_s'
                , value: new Date()
                , isInitValue: true
                , format: 'MM月dd日'
            });
            laydate.render({
                elem: '#LAY_e'
                , value: now
                , isInitValue: true
                , format: 'MM月dd日'
            });

            element.on('collapse(test)', function (data) {
                if (data.show) {
                    $('.最低').hide();
                    $('.原价').show();
                } else {
                    $('.原价').hide();
                    $('.最低').show();

                }
            });


        });

        function previewImg(obj) {

            var imgHtml;
            ////弹出层
            $(obj).find('img').each(function (i, item) {
                imgHtml = "<img src='" + item.src + "'/>"
            });
            layer.open({
                type: 1,
                shade: 1,
                offset: 'auto',
                shadeClose: true,
                scrollbar: false,
                title: false, //不显示标题
                content: imgHtml, //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
                cancel: function () {
                    return false
                    //layer.msg('捕获就是从页面已经存在的元素上，包裹layer的结构', { time: 5000, icon: 6 });
                }
            });
        }


        function yuding(rt, gt, rtname, dj) {
            layui.use(['form', 'layer'], function () {
                var form = layui.form;

                var indexa = layui.layer.open({
                    title: false,
                    type: 2,
                    content: 'AddOrder',
                    closeBtn: 0,
                    success: function (layero, index) {
                        var body = layui.layer.getChildFrame('body', index);
                        body.find(".rtName").html(rtname);
                        body.find("#GTId").val(gt);
                        body.find("#RTId").val(rt);
                        body.find("#CId").val($("#Id").val());
                        //body.find("#CId").val(1);
                        body.find(".CName").text($(".CName").text());
                        body.find(".intime").text($(".intime").val());
                        body.find(".outtime").text($(".outtime").val());
                        body.find(".Tips").text($("#Tips").val());
                        body.find(".jiage").html('￥' + dj);
                    }
                });
                layui.layer.full(indexa);


            });
        }
    </script>
</body>
</html>
